body {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 500px;
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 

}

.board {
  background-color: blue;
  border: 10px solid blue;
}

th, td {
  padding: 20px;
  text-align: center;
  background-color: white;

}

th {
  border: none;


}

td {
  border: 1px solid black;
  border-radius: 50%;
  height: 25px;
  width: 20px;

}

.yellow {

  background-color: #FFD700;
}

.red {
  background-color: red;
}

.winner {

}

th {

  cursor: pointer;
}